         {% for room in rooms %}
         {% load static %}
        <div class="roomListRoom">
        <div class="roomListRoom__content">
            <a href="{% url 'room'  room.id %}">{{room.name}}</a>
            <p>
            {{room.description}}
            </p>
        </div>
        <div class="roomListRoom__meta">
            <a href="{% url 'room'  room.id %}" class="roomListRoom__joined">
        <div class="header__logo">
            <img src="{% static 'images/clock.svg' %}" alt="clock icon" />
        </div>

        <style>
            .header__logo{
                display: flex;
                align-items: center;
            }

            .header__logo img{
                height: 25px;
                width: auto;
                object-fit: contain;
                margin-right: 0px;
            }
        </style>
            This section was added {{room.created|timesince}} ago
            </a>
            <p class="roomListRoom__topic">{{room.topic.name}}</p>
        </div>
        </div>
         {% endfor %}
